# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air_bnb = pd.read_csv('../files/AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
# How many neighborhood groups are available and which shows up the most?

print(air_bnb.nunique())
#There are 5 neighborhood groups.
print('\n')
print(air_bnb.neighbourhood_group.mode())
#Manhatten shows up the most.

id                                48895
name                              47905
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64


0    Manhattan
dtype: object

In [4]:
# Are private rooms the most popular in manhattan?
pop_rooms = air_bnb['room_type'].mode()
print(pop_rooms)

#NO, the most popular roomtype is the entire home/apt

0    Entire home/apt
dtype: object

In [5]:
# Which hosts are the busiest and based on their reviews?

busy_host = air_bnb.sort_values('number_of_reviews', kind = 'mergesort', ascending = False).head()
busy_host

#top 5 hosts with the most reviews listed below. no.1 is Dona, with 629 reviews.

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
11759,9145202,Room near JFK Queen Bed,47621202,Dona,Queens,Jamaica,40.66730,-73.76831,Private room,47,1,629,2019-07-05,14.58,2,333
2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49,1,607,2019-06-21,7.75,3,293
2030,903947,Beautiful Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82124,-73.93838,Private room,49,1,597,2019-06-23,7.72,3,342
2015,891117,Private Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82264,-73.94041,Private room,49,1,594,2019-06-15,7.57,3,339
13495,10101135,Room Near JFK Twin Beds,47621202,Dona,Queens,Jamaica,40.66939,-73.76975,Private room,47,1,576,2019-06-27,13.40,2,173

In [6]:
#Which neighorhood group has the highest average price? Without checking anything, the answer is obviously Manhattan :)
high_av_price = air_bnb.groupby('neighbourhood_group').mean()['price']
high_av_price

#Manhattan has the highest average price. $196.87 (per night I assume)

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

In [61]:
# Which neighborhood group has the highest total price?
high_total_price = air_bnb.groupby('neighbourhood_group').sum()['price']
high_total_price

#Manhattan has the highest total price, with a combined sum of $4,264,527.

neighbourhood_group
Bronx              95459
Brooklyn         2500600
Manhattan        4264527
Queens            563867
Staten Island      42825
Name: price, dtype: int64

In [8]:
#Which top 5 hosts have the highest total price?
high_total_price = air_bnb.sort_values('price', kind = 'mergesort', ascending = False).head()
high_total_price

#Top 5 most expensive hosts are Kathrine in Queens, Erin in Brooklyn, Jelena in Manhatan,
#Olson in Manhattan and Amy in Manhattan.

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.77213,-73.98665,Entire home/apt,10000,30,0,NaN,NaN,1,83
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999,5,1,2015-01-02,0.02,1,0
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83

In [121]:
# Who currently has no (zero) availability with a review count of 100 or more?

no_avail = air_bnb[air_bnb['availability_365'] == 0]

no_availl = no_avail[no_avail['number_of_reviews'] >= 100]
no_availl

#There are 162 hosts with zero availability and a review count of 100 or more

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artists’ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,22705516,The Quietest Block in Manhattan :),127740507,Kathleen,Manhattan,Harlem,40.83102,-73.94181,Private room,65,2,103,2019-07-07,5.89,2,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
31250,24267706,entire sunshine of the spotless mind room,21074914,Albert,Brooklyn,Bedford-Stuyvesant,40.68234,-73.91318,Private room,49,1,102,2019-07-05,6.73,3,0
32670,25719044,COZY Room for Female Guests,40119874,Stephany,Brooklyn,Prospect-Lefferts Gardens,40.66242,-73.94417,Private room,48,1,131,2019-05-31,9.97,2,0
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [125]:
# What host has the highest total of prices and where are they located?

highest_prices = air_bnb.sort_values('price', kind = 'mergesort', ascending = False).head().max()


highest_prices

#Olsen in Queens

id                                          22436899
name                              Spanish Harlem Apt
host_id                                     72390391
host_name                                      Olson
neighbourhood_group                           Queens
neighbourhood                        Upper West Side
latitude                                    40.79264
longitude                                  -73.91651
room_type                               Private room
price                                          10000
minimum_nights                                   100
number_of_reviews                                  6
reviews_per_month                               0.16
calculated_host_listings_count                     1
availability_365                                  83
dtype: object

In [127]:
# When did Danielle from Queens last receive a review?

Dan = air_bnb[air_bnb.host_name == 'Danielle']  #count()
Dann = Dan[Dan.neighbourhood_group == 'Queens'].last_review #count()
Dann
# There are 76 hosts called Danielle, 8 are in Queens, 7 have a last review, listed below.

7086     2019-07-03
16349           NaN
20403    2019-07-06
21517    2019-07-07
22068    2019-07-06
22469    2019-07-08
27021    2018-01-02
33861    2019-06-20
Name: last_review, dtype: object

## Further Questions

1. Which host has the most listings?

In [116]:
listnum = air_bnb['host_id'].mode()
# returns 219517861
listnum = air_bnb[air_bnb.host_id == 219517861].host_name

print(listnum)

#Sonder has the most listings, @ 327.

38293    Sonder (NYC)
38294    Sonder (NYC)
38588    Sonder (NYC)
39769    Sonder (NYC)
39770    Sonder (NYC)
             ...
47691    Sonder (NYC)
47692    Sonder (NYC)
47693    Sonder (NYC)
47814    Sonder (NYC)
47821    Sonder (NYC)
Name: host_name, Length: 327, dtype: object

2. How many listings have completely open availability?

In [43]:
open = air_bnb[air_bnb['availability_365'] == 365].count()
open

#1295 listings have open availability

id                                1295
name                              1294
host_id                           1295
host_name                         1295
neighbourhood_group               1295
neighbourhood                     1295
latitude                          1295
longitude                         1295
room_type                         1295
price                             1295
minimum_nights                    1295
number_of_reviews                 1295
last_review                        841
reviews_per_month                  841
calculated_host_listings_count    1295
availability_365                  1295
dtype: int64

3. What room_types have the highest review numbers?

In [117]:
highest_review = air_bnb.groupby('room_type').count()['number_of_reviews']
highest_review

#The entire home/apt room-type has the highest number of reviews.

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: number_of_reviews, dtype: int64

In [77]:
#Conclusions:

# There are 5 neighbourhood groups. 
# Manhattan is the most expensive borough and has the most listings. 
# Entire homes/apts are the most popular listings and have the most reviews.
# The busiest hosts are the ones with the most reviews and the most listings in Manhattan
# There are a lot of Danielles in NY....
#

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --